<html>
    <head>

    </head>
    <body>
        <a href="http://localhost:8008/dog1"> <img src="http://localhost:8008/images/dog1.jpg"> </a>
        <a href="http://localhost:8008/dog2"> <img src="http://localhost:8008/images/dog2.jpg"></a>
        <a href="http://localhost:8008/dog3"> <img src="http://localhost:8008/images/dog3.jpg"></a>
    </body>
</html>